.boardPage {
  height: 74vh;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 15px;
  overflow-x: auto;
  @media screen and (max-width: 716px) {
    text-align: center;
  }
}

.boardTitle {
  text-align: center;
  font-size: 36px;
  line-height: 0;
  font-weight: 600;
}

.text {
  font-size: 23px;
  text-align: center;
}

.error {
  color: red;
}

.homeBtn {
  background-image: url('../../assets/image/svg/back.svg');
  width: 35px;
  height: 35px;
  background-size: contain;
  border-radius: 5px;
  position: absolute;
  cursor: pointer;
}
